﻿body {

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

h1, .h1 {
    font-size: 2.1875rem;
}

h2, .h2 {
    font-size: 1.75rem;
}

h3, .h3 {
    font-size: 1.53125rem;
}

h4, .h4 {
    font-size: 1.3125rem;
}

h5, .h5 {
    font-size: 1.09375rem;
}

h6, .h6 {
    font-size: 0.875rem;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.card-body {
    padding: 0 1.25rem 1.25rem 1.25rem;
}
