﻿@model CP.Services.Model.UserLoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_account.cshtml";
}

<h2>Logowanie</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "loginFormId", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

    <h6>Zaloguj się na twoje konto</h6>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Login, "Nazwa użytkownika", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Nazwa użytkownika" })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, "Hasło", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Hasło" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zaloguj się" class="btn btn-primary mr-2" />
        </div>
    </div>
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div>
    @Html.ActionLink("Rejestracja", "Register")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
}
