﻿@model CP.Services.Model.UserRegistrationInfo

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_account.cshtml";
}

<h2>Rejestracja</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "registerFormId", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;

    <h6>Stwórz sobie nowe konto</h6>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Login, "Nazwa użytkownika", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, "Hasło", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, "Potwierdź hasło", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, "Adres e-mail", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zarejestruj się" class="btn btn-primary mr-2" />
        </div>
    </div>
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div>
    @Html.ActionLink("Logowanie", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
}
